
<p>Use this page to get your weather</p>

<form action="">
    <input type="text" name="" id="location" placeholder="Location">
    <button>Search</button>
</form>

<div class="output">
    <p id="weather"></p>
    <p id="error"></p>
</div>